#pragma once

// WiFi
#define WIFI_SSID       "YOUR_WIFI_SSID"
#define WIFI_PASSWORD   "YOUR_WIFI_PASSWORD"

// MQTT
#define MQTT_HOST       "your-mqtt-server"
#define MQTT_PORT       8883

#define MQTT_USERNAME   "YOUR_MQTT_USERNAME"
#define MQTT_PASSWORD   "YOUR_MQTT_PASSWORD"

// Command security
#define COMMAND_HMAC_KEY \
    "YOUR_SECRET_HMAC_KEY"